<!doctype html>
<html lang="en">
  <head>
	<title>Sinatra + Twitter Bootstrap</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
	<!-- СolorPicker CSS -->
	<link rel="stylesheet" href="/vendor/css/simplecolorpicker.css">
	<!-- Datetimpicker CSS -->
	<link rel="stylesheet" href="/vendor/css/jquery.datetimepicker.min.css">
	<!-- Link Script -->
	<script defer src="/vendor/js/jquery-3.5.1.min.js"></script>
	<script defer src="/vendor/js/simplecolorpicker.js"></script>
	<script defer src="/vendor/js/jquery.datetimepicker.full.min.js"></script>
	<script defer src="/vendor/js/common.js"></script>
  </head>
  <body>
	<div class="wrapper__list">
		<header>
			<nav class="navbar navbar-expand-md bg-dark navbar-dark">
				<!-- Brand -->
				<div class="container">
					<a class="navbar-brand" href="/">
						<img src="/vendor/img/logo.jpg" alt="BarberShop" width="50" height="50">
					</a>

					<!-- Toggler/collapsibe Button -->
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
						<span class="navbar-toggler-icon"></span>
					</button>

					<!-- Navbar links -->
					<div class="collapse navbar-collapse" id="collapsibleNavbar">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="/about">О компании</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/visit">Записаться</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/contacts">Контакты</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/showusers">Список записавшихся</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="container">
				<%if @error && @error.size > 0 then %>
						<div class="alert alert-danger"><%=@error%></div>
				<% end %>
				<%= yield %>
			</div>
		</header>
	</div>
  </body>
</html>

